body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-bottom: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-bottom: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
}

.present {
  background-color: #ff6961;
}

.future {
  background-color: #77dd77;
}



.day-container {
  margin: 0px 120px 10px 120px;
}

.hour-container {
  height: 75px; /** determines the size of the boxes**/
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  border-bottom: 2px solid white;
}
.time-text {
  text-align: right;
  width: 80%;
  height: 60%;
}

.time-box {
  width: 100px;
  min-width: 75px;
  border-style: dotted;
  border-left: 0px;
  border-bottom: 0px;
  display: flex;
  align-items: center;
}

.color-box {
  font-size: 20px;
  height: 100%;
  width: 100%;
  min-width: 100px;
  text-align: left;
  vertical-align: top;
  padding-left: 10px;
  padding-top: 10px;
  line-height: 1;
  white-space: break-spaces;
  overflow: auto;
}

.save-box {
  width: 75px;
  min-width: 75px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  align-items: center;
  border-left: 1px solid black;
  background-color: #06AED5;
  color: white;
  transition: all .3s ease-in-out;
}

.save-button {
  width: 100%;
  font-size: 20px;
  text-align: center;
  color:white;
  transition: all .3s ease-in-out;
}

.save-box:hover > .save-button{
  color:black;
}

.save-box:active{
  transition: all 0s;
  background-color:#77dd77;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  .color-box {
    font-size: 15px;
  }
  .day-container {
    margin: 0px 90px 10px 90px;
  }
  .display-3 { /** affects the main header text **/
    font-size: 4rem;
  }
  .jumbotron {
    padding: 50px 32px 50px 32px;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  .color-box {
    font-size: 13px;
  }
  .day-container {
    margin: 0px 60px 10px 60px;
  }
  .display-3 { /** affects the main header text **/
    font-size: 3rem;
  }
  .jumbotron {
    padding: 32px 32px 32px 32px;
  }
  
}


/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .day-container {
    margin: 0px 30px 10px 30px;
  }
  .display-3 { /** affects the main header text **/
    font-size: 2rem;
  }
  .jumbotron {
    padding: 15px 15px 15px 15px;
  }
  .lead { /** affects the main sub-header text **/
    font-size: 1rem;
  }
}

